<%- include('../partials/header') %> 

<script src="/javascript/app.js"></script>

<section class="container">
    <div class="d-flex flex-row-reverse">
        <a href="/feed/thoughts/new" class="btn btn-outline-primary">Share A Thought</a>
    </div>
    <div>
        <% thought.reverse().forEach(t => { %>
            <div class="card">
                <div><img src=" <%= t.userAvatar %>" alt="avatar"><%= t.userName %> </div>
                <div><%= t.content %> </div>
                <% if (user && user._id.equals(t.user)) { %>
                    <a href="/feed/thoughts/<%= t._id %>/edit">Edit</a>
                <% } %>
                <div><a href="/feed/thoughts/<%= t._id %>">Replies</a></div>
            </div>
        <% }) %>
    </div>
</section>



<%- include('../partials/footer') %> 