<%- include('../partials/header') %> 

<section>
    <a href="/feed/thoughts/new">Share A Thought</a>
    <div>
        <% thought.reverse().forEach(t => { %>
            <div><img src=" <%= t.userAvatar %>" alt="avatar"><%= t.userName %> </div>
            <div><%= t.content %> </div>
            <% if (user && user._id.equals(t.user)) { %>
                <a href="/feed/thoughts/<%= t._id %>/edit">Edit</a>
            <% } %>
            <div><a href="/feed/thoughts/<%= t._id %>">Replies</a></div>
        <% }) %>
    </div>
</section>



<%- include('../partials/footer') %> 