<%- include('../partials/header') %> 

<section class="container user-login">
    <h1 class="container" id="title"><%= title %> </h1>
    <div class="container">
        <form action="/feed" method="POST" >
            <input type="text" name="content" placeholder="What's on your mind?" class="form-control">
            <div class="form-flex">
                <input type="submit" value="Share" class="btn btn-primary">
            </div>
        </form>
    </div>
    <div>
        <% thought.reverse().forEach(t => { %>
        <div class="card">
            <div class="row g-0">
                <div class="col-md-auto">
                    <img src="<%= t.userAvatar %>" class="img-fluid" alt="User Avatar" id="avatar">
                </div>
                <div class="col">
                    <div class="card-body">
                        <div class="card-title title-flex">
                            <p class="card-title-text"><%= t.userName %></p>
                            <% if (user && user._id.equals(t.user)) { %>
                            <div class="edit-flex">
                                <a href="/feed/thoughts/<%= t._id %>/edit" class="edit"><img src="/images/edit-icon.svg" alt="edit icon" data-bs-toggle="modal" data-bs-target="#exampleModal"></a>
                            </div>
                            <% } %>
                        </div>
                        <p class="card-text"><%= t.content %></p>
                        <div>
                            <a href="/feed/thoughts/<%= t._id %>"><img src="/images/comment-icon.svg" alt="comment icon"></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <% }) %>
    </div>
</section><br>

<%- include('../partials/footer') %> 