<%- include('../partials/header') %>

<div class="container user-login">
  <div class="d-flex">
    <h1 class="container" id="title"><%= title %></h1>
  </div>
  <div class="card">
    <div class="row g-0">
      <div class="col-md-auto">
        <img src="<%= thought.userAvatar %>" alt="user avatar" id="avatar" />
      </div>
      <div class="col">
        <div class="card-body">
          <div class="card-title">
            <p class="card-title-text"><%= thought.userName %></p>
          </div>
          <div class="card-text"><%= thought.content %></div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container user-login reply">
  <p class="reply-text">Write A Reply</p>
  <form action="/feed/thoughts/<%= thought._id %>/replies" method="POST">
    <div>
      <input
        type="text"
        name="content"
        class="form-control"
        placeholder="Send a reply.."
      />
      <div class="form-flex">
        <input type="submit" value="Reply" class="btn btn-primary" />
      </div>
    </div>
  </form>
  <% thought.replies.reverse().forEach(r => { %>
  <div class="card">
    <div class="row g-0">
      <div class="col-md-auto">
        <img src="<%= r.userAvatar %>" alt="user avatar" id="avatar" />
      </div>
      <div class="col">
        <div class="card-body">
          <div class="card-title title-flex">
            <p class="card-title-text"><%= r.userName %></p>
            <% if (user && user._id.equals(r.user)) { %>
            <div>
              <form
                action="/feed/thoughts/<%= thought._id %>/replies/<%= r._id %>?_method=DELETE"
                method="POST"
              >
                <button type="submit" class="delete-btn">
                  <img src="/images/delete-icon.svg" alt="delete-icon" />
                </button>
              </form>
            </div>
            <% } %>
          </div>
          <div class="card-text"><%= r.content %></div>
        </div>
      </div>
    </div>
  </div>
  <% }) %>
</div>
<br />

<%- include('../partials/footer') %>
