<%- include('../partials/header') %> 

<div><img src="<%= thought.userAvatar %>" alt="avatar"><%= thought.userName %></div>
<div><%= thought.content %></div>
<p>Write A Reply</p>
<form action="/feed/thoughts/<%= thought._id %>/replies" method="POST">
    <input type="text" name="content">
    <input type="submit" value="Reply">
</form>

<% thought.replies.reverse().forEach(r => { %>
    <div><img src="<%= r.userAvatar %>" alt="">
        <div><%= r.userName %></div>
        <div><%= r.content %></div>
        <% if (user && user._id.equals(r.user)) { %>
         <div>
             <form action="/feed/thoughts/<%= thought._id %>/replies/<%= r._id %>?_method=DELETE" method="POST">
                 
                <input type="submit" value="x">
            </form> 
         </div>
        <% } %> 
    </div>

<% }) %> 



<%- include('../partials/footer') %> 